{% extends "TodoBundle::layout.html.twig" %}
{% block title %}Add Status  {%endblock%}
{% block content %}
<form action="{{ path('_status_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_rest(form) }}

    <input type="submit" /> <a href="{{ path('_status_list')}}">Return to the list</a>
</form>
{%endblock%}
