{% extends "TodoBundle::layout.html.twig" %}
{% block title %}Add Task  {%endblock%}
{% block content %}
<form action="{{ path('_task_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_label(form.description) }}    
    <div class="control-group 
         {% if 'task.description' in errors|keys %}
            error
         {% endif %}
    ">
        <div class="controls">
            {{ form_widget(form.description,{'label':'Description: '}) }}
            {% if 'task.description' in errors|keys %}
                <span class="help-inline">{{errors['task.description'].message}}</span>
            {% endif %}
        </div>
    </div>            
            
    {{ form_row(form.priority,{'label':'Priority: '}) }}        
    {{ form_row(form.reporter, {'label':'Reporter: '}) }}    
    {{ form_row(form.assignee, {'label':'Assignee: '}) }}
   
    {{ form_widget(form._token) }}
        
    

    <input type="submit" /> <a href="{{ path('_welcome')}}">Return to the list</a>
</form>
{%endblock%}
